footer{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.copy-right{
    
    display: flex;
    color: #6c7378;
    flex: 1;
    justify-content: center;
}
.date{
margin: 2px;
}
.date,.slogan-text{
    font-family: HelveticaNeue-Medium,"Helvetica Neue Medium",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}

@media screen and (max-width:600px){
    .copy-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .date,.slogan-text{
       display: flex;
       justify-content: center;
    }
   
}
