.lang:hover, .lang:link{
    background-color: inherit;
    color: green;
    border: none;
}
.lang:active{
    color: red;
}
.lang{
    color: green;
    border: none;
    font-size: 13px;
}
.lang--list{
    position: absolute;
    right: 6rem;
    top: 2.1rem;
}
.lang__flag{
    position: relative;
    right: .5rem;
    height: 13px;
}

@media screen and (max-width:600px){
    .lang{
       margin-top: 5%;
       margin-right: 10%;
       width: 200px;
       text-align-last:center;

    }

        
}
