.hide{
    display:none;
}
.position__top--center {
  position: relative;
  text-align: center;
  margin-top: 2rem;
}
.position__center {
  text-align: center;
  width: 20%;
}
.spinner--position__center {
    position: fixed;
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    z-index:0;
}
