.landing-page{
    display: flex;
    margin-top: 8%;
    width: 90%;
    margin: auto;
}
.description{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 70px 70px 0px 0px;
    
}
.description ul{
    display: flex;
    justify-content: center;
}
.description h1{
    margin-bottom: 2rem;
    color: #5E96CF;
}
.description p{
    font-size: 19px;
    padding: 0 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    margin: 2.5rem 3rem;
}
.imageSide{
    flex: 1;
}
#getStartedBtn{
    width: 57%;
    font-family: 'Roboto', sans-serif;
    height: 40px;
    display:block;
    background-color: #5e96cf;
    border: 1px solid #5e96cf;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    list-style: none;
    margin-right: 10%;
    color: #ffffff;
    text-align: center;
    
}

#getStartedBtn:hover{
    text-decoration: none;
    color:  #2a75c0;
    background-color: #fff;
}
ul #getStartedBtn {
   padding: 9px;
   width: 100%;
   background-color: #2a75c0;
   
}

@media screen and (max-width:800px){
    .landing-page{
        margin-top: 12%;
       flex-direction: column-reverse;
    }
    .imageSide img{
    width: 350px;
    margin-left: 200px;
    }
 .description{
    padding: 0px;
 }

    #getStartedBtn {
        color: white;
        padding: 0px;
       border-radius: 4px;
       text-align: center;
       border: solid #2a75c0 1px;
      box-shadow: 0px 0px 0px;
       
    }
    #getStartedBtn:hover{
        text-decoration: none;
        color: #ffffff;
        background-color: #2a75c0;
    }

}

@media screen and (max-width:600px){
    .landing-page{
       flex-direction: column-reverse;
    }
    .imageSide img{
    width: 350px;
    margin-left: 40px;
    }
 .description{
    padding: 0px;
 }

    #getStartedBtn{
        color: white;
        padding: 0px;
       border-radius: 4px;
       text-align: center;
       border: solid #2a75c0 1px;
      box-shadow: 0px 0px 0px;
       
    }
    #getStartedBtn:hover{
        text-decoration: none;
        color: #ffffff;
        background-color: #2a75c0;
    }

}