.nav-auth {
  position: absolute;
  right: 20rem;
  top: 1.6rem;
  display: inline-block;
  color: black;
}

.nav-auth li {
  display: inline-block;
  margin-left: 1rem;
  a {
    color: black;
    span {
color: #5790cc;
    }
  }
}
.nav__background {
  background: white;
}
.logo {
  height: 2.5rem;
  width: 6rem;
  margin: 2rem 14rem 1rem 5rem;
}

.logo_Auth {
  height: 2.5rem;
  width: 6rem;
  margin: 0 14rem 1rem -6.5rem;
}

.notification__icon {
  height: 1.5rem;
  width: 1.5rem;
}
.notification {
  position: relative;
  left: 1rem;
  cursor: pointer;
}
.notification__message {
  color: white;
  position: absolute;
  bottom: 0.01rem;
  left: 0.8rem;
  background: #5790cc;
  border-radius: 50%;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}
.avatar--small {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: relative;
  bottom: 0.1rem;
}
.icon__menu {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 0.1rem;
}

.profile {
  position: relative;
  left: 2rem;
  img:first-child {
    margin-left: 0.5rem;
    margin-right: 0.2rem;
  }
}

.dropdown {
  position: absolute;
  left: 6rem;
  top: 0.2rem;
}
.dropdown-2 {
  position: absolute;
  left: 0px;
  top: 0.2rem;
  height: 50px;
}
.notMessage {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0px;
}
.notificationFooter {
  text-align: center;
  position: fixed;
  //   height: 40px;
  //   bottom: 0;
  width: 100%;
}
.markAll {
  color: red;
}
.notiftnBody {
  height: 500%;
  overflow: auto;
}
