@import './base.scss';

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  line-height: 9vh;
  color: white;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(219, 219, 219);
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

body {
  display: block;
  margin: 0px;
  background-color: #F0F0F0;
  height: 90vh;
}
.footer {
  position: relative;
  height: 40px;
  top: .5rem;
  width: 100%;
}

.logo{
  height: 2.5rem;
  width: 6rem;
  margin: 2rem 14rem 1rem 5rem;
}

.footer h3{
  font-size: 13px;
  color: #5890CC;
}

.nav-link {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-size: 15px;
}
.li {
  color: rgb(48, 48, 48);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}

.li:hover{
  color: #5890CC;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3 {
  text-align: center;
}

.countDoun {
  text-align: center;
  height: 300px;
  width: 50%;
  margin: auto;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
  padding-top: 8%;
  color: black;
  font-weight: bold;
}
.auth__footer{
  position: absolute;
  top: 94%;
}
