.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: white;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(219, 219, 219);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
body {
  display: block;
  margin: 0px;
}
.footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
}
.nav-link {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 15px;
}
.li {
  color: rgb(48, 48, 48);
}

h1,
h2,
h3 {
  text-align: center;
}

.countDoun {
  text-align: center;
  height: 300px;
  width: 50%;
  margin: auto;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
  padding-top: 8%;
  color: black;
  font-weight: bold;
}
